In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import tweepy
#import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
nltk.download('punkt')
from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
import numpy as np
#from sklearn.datasets import load_digits
import pandas as pd
import matplotlib.pyplot as plt
#files = load_files()
import pandas as pd
import numpy as np
import tweepy
import seaborn as sns
import matplotlib.pyplot as plt
import nltk
import re
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
nltk.download('punkt')

from sklearn.feature_extraction.text import CountVectorizer

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [4]:

import nltk
import re

In [5]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [6]:
from wordcloud import WordCloud

In [7]:
df=pd.read_csv('train.csv',encoding='Latin-1')

In [8]:
df.head(20)

    id  label                                              tweet
0    1      0   @user when a father is dysfunctional and is s...
1    2      0  @user @user thanks for #lyft credit i can't us...
2    3      0                                bihday your majesty
3    4      0  #model   i love u take with u all the time in ...
4    5      0             factsguide: society now    #motivation
5    6      0  [2/2] huge fan fare and big talking before the...
6    7      0   @user camping tomorrow @user @user @user @use...
7    8      0  the next school year is the year for exams.Ã°Â...
8    9      0  we won!!! love the land!!! #allin #cavs #champ...
9   10      0   @user @user welcome here !  i'm   it's so #gr...
10  11      0   Ã¢ÂÂ #ireland consumer price index (mom) cl...
11  12      0  we are so selfish. #orlando #standwithorlando ...
12  13      0  i get to see my daddy today!!   #80days #getti...
13  14      1  @user #cnn calls #michigan middle school 'buil...
14  15      1  no comment!  in #australia   #opkillingbay #se...
15  16      0  ouch...junior is angryÃ°ÂÂÂ#got7 #junior #y...
16  17      0  i am thankful for having a paner. #thankful #p...
17  18      1                             retweet if you agree!
18  19      0  its #friday! Ã°ÂÂÂ smiles all around via ig...
19  20      0  as we all know, essential oils are not made of...

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [10]:
df.isnull().sum()

id       0
label    0
tweet    0
dtype: int64

In [11]:
wordnet=WordNetLemmatizer()
stemmer=PorterStemmer()

In [12]:
def change_text(a):
    a=str(a)
    text=re.sub('[^a-zA-Z]',' ',a)
    text=text.lower()
    text=nltk.word_tokenize(text)
    text=[wordnet.lemmatize(word) for word in text if word not in stopwords.words('english')]
    text=' '.join(text)
    return text

In [13]:
df['tweet']=df['tweet'][0:5].apply(change_text)
df.head()

   id  label                                              tweet
0   1      0  user father dysfunctional selfish drag kid dys...
1   2      0  user user thanks lyft credit use cause offer w...
2   3      0                                     bihday majesty
3   4      0                        model love u take u time ur
4   5      0                      factsguide society motivation

In [14]:
from sklearn.feature_extraction.text import CountVectorizer

from sklearn.feature_extraction.text import TfidfVectorizer

In [15]:
X1=df['tweet']
X1

0        user father dysfunctional selfish drag kid dys...
1        user user thanks lyft credit use cause offer w...
2                                           bihday majesty
3                              model love u take u time ur
4                            factsguide society motivation
                               ...
31957                                                  NaN
31958                                                  NaN
31959                                                  NaN
31960                                                  NaN
31961                                                  NaN
Name: tweet, Length: 31962, dtype: object

In [16]:
y=df['label']
y

0        0
1        0
2        0
3        0
4        0
        ..
31957    0
31958    0
31959    0
31960    1
31961    0
Name: label, Length: 31962, dtype: int64

In [17]:
tf=TfidfVectorizer()

In [31]:
X1=cf.fit_transform(df['tweet'].values.astype('U'))

In [32]:

cf=CountVectorizer()

In [33]:
#X1=cf.fit_transform(X_train)

In [34]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier

In [35]:
cv=ShuffleSplit(n_splits=10,test_size=0.2,random_state=42)

In [36]:
print(cross_val_score(MultinomialNB(),X1,y,cv=cv,scoring='accuracy'))

[0.92867198 0.92961051 0.93070546 0.92788988 0.92757704 0.92538714
 0.92945409 0.92851556 0.93148756 0.9280463 ]

In [37]:
print(cross_val_score(MultinomialNB(),X1,y,cv=cv,scoring='accuracy').mean())

0.9287345534178009

In [38]:
x_train,x_test,y_train,y_test=train_test_split(X1,y,test_size=0.3,random_state=42)

nb=MultinomialNB()

nb.fit(x_train,y_train)

MultinomialNB()

In [39]:
prediction=nb.predict(x_test)

In [40]:

from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [41]:
confusion_matrix(y_test,prediction)

array([[8904,    1],
       [ 684,    0]], dtype=int64)

In [42]:
print(classification_report(y_test,prediction))

              precision    recall  f1-score   support

           0       0.93      1.00      0.96      8905
           1       0.00      0.00      0.00       684

    accuracy                           0.93      9589
   macro avg       0.46      0.50      0.48      9589
weighted avg       0.86      0.93      0.89      9589

In [43]:
def predict(message):
    if nb.predict(cf.transform([change_text(message)])):
        return 'Positive'
    else:
        return 'Negavite'